h1{
    text-align: center;
}


form{
    display: flex;
    justify-content: center;

}

input{
    background-color: grey;

}

input:hover{
    background-color: yellowgreen;
}

h1::first-letter{
    font-size: xx-large;
    color: blueviolet;
}